# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
pandas==2.1.4
numpy==1.26.2
openpyxl==3.0.10
pyodbc==5.0.1
SQLAlchemy==2.0.23
python-dotenv==1.0.0
azure-core==1.29.6
azure-storage-blob===12.24.1